<h2>{{title}}</h2>

{{yield}}

{{#each contents}}
  <div class="feed-event">
    <p>{{name}}</p>
    <p>{{#each datasets}} {{name}}: {{formatted-as-dollars dollar_value}} ({{deal_count}}) {{/each}}</p>
{{else}}
  <p>No data</p>
{{/each}}
