<h2>{{title}}</h2>

{{yield}}

{{#each contents}}
  {{#view "upcoming-hotness" time=starts_at}}
    <div class="feed-event">
      <p>{{summary}}</p>
      <p class="details">
        {{time-ago-in-words starts_at view.clock.pulse}}
        {{#if location}}<br>at {{location}}{{/if}}</p>
    </div>
  {{/view}}
{{else}}
  <p>None</p>
{{/each}}
