<h2>{{title}}</h2>

{{yield}}

{{#each contents}}
  <div class="feed-event">
    <p>{{summary}}</p>
    <p class="details">
      {{#if location}}<br>at {{location}}{{/if}}</p>
  </div>
      {{time-ago-in-words starts_at view.clock.pulse}}
{{else}}
  <p>None.</p>
{{/each}}
