<h2>Code</h2>

{{#each contents}}
  <div class="flex-grid feed-event">
    <div class="flex-cell-avatar">
      {{gravatar-img user.gravatar_id}}
    </div>
    <div class="flex-cell">
      <p><a {{bind-attr href=_links.html.href}}>{{title}}</a></p>
      <p class="details">
        {{time-ago-in-words updated_at view.clock.pulse}}
        <br>{{dashEventType}} in {{head.repo.name}}</p>
    </div>
  </div>
{{else}}
  <p>All Clear</p>
{{/each}}
