{{#if auth.apiKey}}

  <div class="app-meta">{{auth.userName}} <i class="fa fa-user"></i></div>

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
        {{upcoming-events title="Upcoming" channel="icalendar-upcoming"}}</li>
    	<li data-row="1" data-col="2" data-sizex="5" data-sizey="3">
        {{pipedrive-deals title="Sales" channel="pipedrive-deals"}}</li>
      <li data-row="2" data-col="1" data-sizex="5" data-sizey="3">
        {{render "github-team-notices"}}</li>
    	<li data-row="2" data-col="2" data-sizex="5" data-sizey="3">
        {{beer-at-we-work title="Beer" channel="beer-at-we-work"}}</li>
    </ul>
  </div>

{{else}}

{{render "login"}}

{{/if}}

