{{#if auth.apiKey}}

<p class="details">Authenticated as {{auth.userName}}</p>
  
<div class="flex-grid">
  <div class="flex-cell">
    {{github-team-notices title="Code" channel="github-team-notices"}}
  </div>
  <div class="flex-cell">
    {{upcoming-events title="Upcoming" channel="icalendar-upcoming"}}
  </div>
  <div class="flex-cell">
  	{{pipedrive-deals title="Sales" channel="pipedrive-deals"}}
  </div>
  <div class="flex-cell">
  	{{beer-at-we-work title="Beer" channel="beer-at-we-work"}}
  </div>
</div>

{{else}}

{{render "login"}}

{{/if}}

