{{#if auth.apiKey}}

  <div class="app-meta">
    <i class="fa fa-user"></i> {{auth.userName}}
    <a title="Logout" {{bind-attr href=auth.logoutUrl}}>
      <i class="fa fa-sign-out"></i>
    </a>
  </div>

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
        {{render "icalendar-upcoming"}}</li>
    	<li data-row="1" data-col="2" data-sizex="5" data-sizey="3">
        {{render "pipedrive-deals"}}</li>
      <li data-row="2" data-col="1" data-sizex="5" data-sizey="3">
        {{render "github-team-notices"}}</li>
    	<li data-row="2" data-col="2" data-sizex="5" data-sizey="3">
        {{render "beer-at-we-work"}}</li>
    </ul>
  </div>

{{else}}

{{render "login"}}

{{/if}}

